@model DiscountModel
@inject MerchantAreaSettings MerchantAreaSettings
@{
    var defaultGridPageSize = MerchantAreaSettings.DefaultGridPageSize;
    var gridPageSizes = MerchantAreaSettings.GridPageSizes;
}

<div class="panel-group">
    @await Component.InvokeAsync("MerchantWidget", new { widgetZone = MerchantWidgetZones.DiscountDetailsAppliedToCategoriesTop, additionalData = Model })
    <div class="panel panel-default">
        @if (Model.Id > 0)
        {
            <div class="panel-body">
                <div id="categories-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#categories-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("CategoryList", "Discount", new {discountId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("CategoryDelete", "Discount", new {discountId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "CategoryId",
                                        fields: {
                                            CategoryName: { editable: false, type: "string" },
                                            CategoryId: { editable: false, type: "number" }
                                        }
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @await Html.PartialAsync("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Merchant.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "CategoryName",
                                    title: "@T("Merchant.Promotions.Discounts.AppliedToCategories.Category")"
                                }, {
                                    field: "CategoryId",
                                    title: "@T("Merchant.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Merchant/Category/Edit/")#=CategoryId#"><i class="fa fa-eye"></i>@T("Merchant.Common.View")</a>'
                                }, {
                                    command: [
                                        {
                                            name: "destroy",
                                            text: "@T("Merchant.Common.Delete")"
                                        }
                                    ],
                                    width: 150
                                }
                            ]
                        });
                    });
                </script>
            </div>
            <div class="panel-footer">
                <button type="submit" id="btnAddNewCategory" onclick="javascript:OpenWindow('@(Url.Action("CategoryAddPopup", "Discount", new {discountId = Model.Id, btnId = "btnRefreshCategories", formId = "discount-form"}))', 800, 800, true); return false;" class="btn btn-primary">
                    @T("Merchant.Promotions.Discounts.AppliedToCategories.AddNew")
                </button>
                <input type="submit" id="btnRefreshCategories" style="display: none" />
                <script>
                    $(document).ready(function() {
                        $('#btnRefreshCategories').click(function() {
                            //refresh grid
                            var grid = $("#categories-grid").data('kendoGrid');
                            grid.dataSource.read();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </div>
        }
        else
        {
            <div class="panel-body">
                @T("Merchant.Promotions.Discounts.AppliedToCategories.SaveBeforeEdit")
            </div>
        }
    </div>
    @await Component.InvokeAsync("MerchantWidget", new { widgetZone = MerchantWidgetZones.DiscountDetailsAppliedToCategoriesBottom, additionalData = Model })
</div>